.grid-container {
  margin: 15px 30px;
  display: grid;
  grid-template-areas: "post-1 post-2 post-2 post-2" "post-3 post-4 post-5 post-6" "post-3 post-7 post-8 post-9" "post-3 post-10 post-11 post-12";
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
[class^="zagol-"] {
  border: 1px black solid;
  padding: 15px 10px;
  display: grid;
  place-items: center;
  font-weight: 600;
}
[class^="data-"] {
  border: 1px black solid;
  padding: 15px 10px;
  min-width: 50px;
  display: grid;
  place-items: center;
}
.zagol-11 {
  grid-area: post-1;
  background-color: #e6e6fa;
}
.zagol-13 {
  grid-area: post-2;
  background-color: #e6e6fa;
}
.zagol-22 {
  grid-area: post-3;
}
.zagol-2-1 {
  grid-area: post-4;
}
.zagol-2-2 {
  grid-area: post-5;
}
.zagol-2-3 {
  grid-area: post-6;
}
.data-1 {
  grid-area: post-7;
}
.data-2 {
  grid-area: post-8;
}
.data-3 {
  grid-area: post-9;
}
.data-4 {
  grid-area: post-10;
}
.data-5 {
  grid-area: post-11;
}
.data-6 {
  grid-area: post-12;
}
body {
  background-color: #f8f8f8;
  font-family: verdana;
}
.menu {
  list-style-type: none;
}
.menu a {
  color: #3675c8;
  text-decoration: none;
  font-size: 1.1em;
}
.menu li {
  float: left;
  margin: 15px;
  width: 100px;
}
.menu li a {
  background-color: #47484b;
  color: #e9e9e9;
  padding: 4px 20px;
  margin: 15px;
}
.menu li a:hover {
  background-color: #bbbbbb;
  color: #47484b;
}
.menu li a:active {
  background-color: #b9c4cf;
  color: black;
}
.mainCover {
  text-align: center;
}
.mainCoverTable {
  margin: 0 auto;
}
.glav {
  background-color: #f8f8f8;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .glav {
    font-size: 25px;
  }
}
.textName {
  font-weight: 600;
}
.textBold {
  font-size: 20px;
  font-weight: 500;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .textBold {
    font-size: 18px;
  }
}
.mainSignature {
  font-size: 18px;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .mainSignature {
    font-size: 16px;
  }
}
.portret {
  width: 500px;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .portret {
    width: 320px;
  }
}
.miniPortret {
  width: 470px;
  height: 300px;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .miniPortret {
    width: 320px;
    height: 204px;
  }
}
.mapYandex {
  padding: 0 25%;
}
@media all and (min-width: 0) and (max-width: 768px) {
  .mapYandex {
    padding: 0;
  }
}
/* Menu design */
.header .logo {
  float: left;
  margin-left: 25px;
}
.clearall {
  clear: both;
  /* Cancel block flowing*/
}
.gridCatalog {
  margin: 30px 10px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 15px;
  place-content: center;
}
.catalog-item {
  margin: 10px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-content: space-between;
}
.catalog-item .pictCatalog {
  max-width: 350px;
}
.catalog-item .textCatalog {
  text-decoration: none;
  color: darkslategrey;
  font-style: italic;
  margin: 10px;
  text-align: center;
}
/* Completion of the menu*/
h1 {
  color: dimgray;
  text-align: center;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  background-color: #e2e2e2;
  text-align: center;
  margin-top: 35px;
}
.textCenter {
  text-align: center;
}
.short {
  color: #707070;
  font-size: 16px;
  font-style: italic;
  line-height: 16px;
  font-weight: 600;
}
.long p {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.long p::first-letter {
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  font-size: 140%;
}
.metki {
  list-style-image: url(../img/mini20jdun.png);
  list-style-position: inside;
}
.metki li {
  margin-bottom: 10px;
  color: #373737;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;
}
/* Processing forms */
input[name="fio"] {
  color: darkblue;
  font-style: italic;
  text-transform: capitalize;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 28px;
}
input[name="pass"] {
  margin-left: 20px;
  color: darkblue;
  font-style: italic;
}
input[name="mail"] {
  margin-left: 32px;
  font-style: italic;
  width: 148px;
}
.pochta:focus {
  background-color: #d7e3f3;
  color: #405f6f;
  font-style: normal;
}
#enter textarea {
  text-transform: capitalize;
}
/* ending form*/
img[src="../img/Jdun-doma.jpg"] {
  outline: grey solid 2px;
}
img[src="../img/Jdun-doma.jpg"]:hover {
  outline: 0px;
}
img[src="../img/Gdun-lisa.jpg"] {
  outline: grey solid 2px;
}
img[src="../img/Gdun-lisa.jpg"]:hover {
  outline: 0px;
}
img[src="../img/Jdun-dacha.jpg"] {
  outline: grey solid 2px;
}
img[src="../img/Jdun-dacha.jpg"]:hover {
  outline: 0px;
}
.footer {
  background-color: #dfe4e9;
  padding-bottom: 10px;
}
.harak {
  border: 1px solid black;
  width: 600px;
  height: 150px;
  border-collapse: collapse;
}
.harak td {
  border: 1px solid black;
  padding-left: 10px;
}
.zagolov {
  text-align: center;
  font-weight: bolder;
  background-color: lavender;
  height: 60px;
}
.big_harak {
  border: 1px solid black;
  width: 600px;
  height: 150px;
  border-collapse: collapse;
}
.big_harak td {
  border: 1px solid black;
  padding-left: 10px;
}
.zagol_min {
  font-weight: bold;
}
